:root {
  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #242424;
  --color-bg-2: #1f1f1f;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --button-bg: #1a1a1a;
  --button-bg-2: #3C3D43;
  --button-border-hover: #646cff;
  --input-border: #707070;
  --card-border: #1a1a1a;

  --palet-color-1: #fff480;
  --palet-color-2: #4d9c4a;
}

html.light {
  --color-text: #213547;
  --color-bg: #ffffff;
  --color-bg-2: #c7ecf7;
  --color-link-hover: #747bff;
  --button-bg: #3be483;
  --button-bg-2: #f9f9f9;
  --input-border: #dbdbdb;
  --card-border: #eee;

  --palet-color-1: #2f5e43;
  --palet-color-2: #3C433F;
}
