header:has(.header) {
    backdrop-filter: blur(40px);
    position: sticky;
        top: 0;
    z-index: 1000;

.section-layout { padding-block: 10px; }

.header {
    display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        justify-content: space-between;

    .profile-card {
        display: flex;
        align-items: center;
        gap: 10px;

        img[alt=profile-photo] {
            height: 60px;
            width: 60px;
            border-radius: 50px;
            object-fit: cover;
        }

        .profile-card__info {
            display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;

            .profile-card__name {
                margin: 0;
                font-weight: 500;
            }

            .profile-card__professional-title {
                margin: 0;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    .navbar .navbar__list {
        display: flex;
            gap: 20px;
        list-style: none;

        li {
            text-decoration: none;
            transition: transform .3s ease;

            a { color: var(--color-text); }

            a[href="#projects"] { color: var(--color-link); }

            a:hover { color: var(--color-link-hover); }

            &:active {
                transform: scale(.95);
            }
        }
    }

    // MOBILE
    .burger {
        display: none;
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
        cursor: pointer;

        input {
            display: none;
        }

        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: currentColor;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        span:nth-of-type(1) {
            top: 0px;
            transform-origin: left center;
        }

        span:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
            transform-origin: left center;
        }

        span:nth-of-type(3) {
            top: 100%;
            transform-origin: left center;
            transform: translateY(-100%);
        }

        input:checked ~ span:nth-of-type(1) {
            transform: rotate(45deg);
            top: 0px;
            left: 5px;
        }

        input:checked ~ span:nth-of-type(2) {
            width: 0%;
            opacity: 0;
        }

        input:checked ~ span:nth-of-type(3) {
            transform: rotate(-45deg);
            top: 28px;
            left: 5px;
        }
    }
}
}

.underlay {
    background-color: transparent;
    height: 100vh;
    position: fixed;
        left: 0;
        top: 0;
    width: 100vw;
    z-index: 50;
}

@media (max-width: 500px) {
    header:has(.header) .header {
        gap: 10px;
        flex-wrap: wrap;

        .burger {
            display: block;
        }
            
        .navbar {
            background-color: var(--color-bg);
            border-top: 4px var(--palet-color-2) solid;
            max-height: 4px;
            overflow: hidden;
            text-align: left;
            transition: max-height .8s ease;
            width: 100%;
            
            .navbar__list {
                flex-direction: column;
            }

            &.navbar--menu-opened {
                max-height: 200px;
            }
        }
    }
}