@use './tokens' as *;

.project-details {
    $featured-img-major-border: 50px;
    $featured-img-minor-border: 10px;
    
    .section-layout {
        padding-top: 0;
        max-width: 600px;
    }

    input[name=show-featured-image] { display: none; }

    .glitch-wrapper {
        display: block;
        border-bottom-left-radius: $featured-img-major-border;
        border-bottom-right-radius: $featured-img-major-border;
        cursor: pointer;
        max-height: 100px;
        overflow: hidden;
        position: relative;
        transition: border-radius 0.4s ease,
                    margin-top .3s ease,
                    max-height .3s ease-out,
                    transform .3s ease;

        .featured-photo {
            object-fit: cover;
            width: 100%;
        }

        .glitch-canvas {
            opacity: 1;
            position: absolute;
                inset: 0;
            transition: opacity .3s ease;
        }

        &:hover {
            box-shadow: $global-shadow-block;
            transform: scale(1.02);
            
            .glitch-canvas { opacity: 0; }
        }

        .expand-image__button--expand {
            visibility: hidden;
            position: absolute;
                right: 5px;
                top: 5px;
        }
    }

    input[name=show-featured-image]:checked + .glitch-wrapper {
        border-radius: $featured-img-minor-border;
        box-shadow: $global-shadow-block;
        margin-top: 20px;
        max-height: 1000px;
        transform: scale(1.02);

        .glitch-canvas { opacity: 0; }
        .expand-image__button--expand { visibility: visible; }
    }

    .project-details__role {
        color: var(--palet-color-1);
        font-weight: 600;
    }

    .project-details__tech
        .project-details__list,
        .project-details__links ul {
            display: flex;
                flex-wrap: wrap-reverse;
                gap: 20px;
            list-style: none;
            padding: 0;
    }

    .project-details__links {
        ul {
            flex-wrap: wrap;

            a {
                display: flex;
                    align-items: center;
                    gap: 5px;
                    justify-content: center;
                height: 40px;
                min-width: 150px;
                max-width: 200px;
            }
        }
    }

    .project-details__pagination {
        display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-between;
        margin-top: 100px;
    }
}

.project-404 {
    height: 100vh;
    place-content: center;
    text-align: center;
}