@use './tokens' as *;

.skills__container {
    display: grid;
        gap: 40px;
        grid-template-columns: auto auto;

    .skills__title {
        grid-column: span 2;
    }

    .skills__card--server,
    .skills__card--client,
    .skills__card--tools {
        border: 2px var(--card-border) solid;
        border-radius: $global-major-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        padding: 10px 20px;
        transition: transform .3s ease;

        .skills__subtitle,
        .skills__list { transition: transform .3s ease; }

        &:hover {
            transform: scale(.98);
        }

        &:hover .skills__subtitle {
            transform: scale(1.1);
        }
        &:hover .skills__list {
            transform: scale(.98);
        }
    }

    .skills__card--tools { grid-column: span 2; }

    .skills__list {
        display: grid; 
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        list-style: none;
        padding: 0;

        .skills__item {
            svg{
                width: 60px;
                height: 60px;
                justify-self: center;
                transition: transform .3s ease;
            }

            figcaption {
                display: none;
                transition: transform .3s ease;
                visibility: hidden;
            }

            &:hover{ 
                svg {
                    transform: scale(1.2);
                }

                figcaption {
                    background-color: var(--button-bg);
                    border: 1px var(--button-border-hover) solid;
                    border-radius: 20px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                    display: block;
                    min-width: 60px;
                    padding: 5px 10px;
                    transform: translateX(-50%);
                    position: absolute;
                        left: 50%;
                    z-index: 20;
                    visibility: visible;
                }
            }
        }
    }
}
