@use './tokens' as *;

.skills__container {
    display: grid;
        gap: 40px;
        grid-template-columns: auto auto;

    .skills__title {
        grid-column: span 2;
    }

    .skills__card--server,
    .skills__card--client,
    .skills__card--tools {
        border: 2px var(--card-border) solid;
        border-radius: $global-major-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        padding: 10px 20px;
        transition: transform .3s ease;

        .skills__subtitle,
        .skills__list { transition: transform .3s ease; }

        &:hover {
            transform: scale(.98);
        }

        &:hover .skills__subtitle {
            transform: scale(1.1);
        }
        &:hover .skills__list {
            transform: scale(.98);
        }
    }

    .skills__card--tools { grid-column: span 2; }

    .skills__list {
        display: grid; 
            gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        list-style: none;
        padding: 0;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .skills__container {
        .skills__list {
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
            
            .skills__item svg{
                height: 40px;
                width: 40px;
            }
        }
    }
}

/* Móvil */
@media (max-width: 580px) {
    .skills__container {
        .skills__card {
            grid-column: span 2;
        }
    }
}