@use './tokens' as *;

.contact__form {
    display: grid;
        gap: 20px;
        grid-template-columns: auto auto auto;
    padding-top: 40px; 

        .contact__input,
        .contact__textarea {
            border: 2px var(--input-border) solid;
            border-radius: $global-minor-radius;
            padding: 10px;

            &:focus-visible {
                border: 2px var(--color-link) solid;
                outline: none;
            }
        }

        .contact__textarea {
            grid-column: span 3;
        }

        .contact__button {
            grid-column: 3 / 4;
            grid-row: 1;
        }

        .contact__honeypot {
            display: none;
        }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 768px) {
    .contact__form {
        .contact__input,
        .contact__textarea,
        .contact__button {
            grid-column: 1 / span 3;
        }

        .contact__button {
            grid-column-end: 2;
            grid-row: 4;
        }
    }
}
