@use './tokens' as *;

.tech__item {
    position: relative;
    svg {
        width: 60px;
        height: 60px;
        transition: transform .3s ease;
    }

    .tech__label {
        background-color: var(--button-bg);
        border: 1px var(--button-border-hover) solid;
        border-radius: 20px;
        box-shadow: $global-shadow-block;
        display: none;
        min-width: 60px;
        padding: 5px 10px;
        transform: translateX(-50%);
        position: absolute;
            left: 50%;
        z-index: 20;
        transition: transform .3s ease;
        visibility: hidden;
    }

    &:hover {
        svg {
            transform: scale(1.2);
        }

        .tech__label {
            display: block;
            visibility: visible;
        }
    }
}

/* Tablet */
@media (max-width: 768px) {            
    .skills__item svg{
        height: 40px;
        width: 40px;
    }
}
